name: Build

on:
  pull_request:
    paths:
      - '**.ino'
      - '**.cpp'
      - '**.h'
      - '**.yml'
  push:
    paths:
      - '**.ino'
      - '**.cpp'
      - '**.h'
      - '**.yml'
  schedule:
    - cron: "0 11 13 */2 *"

env:
  ARTIFACT_FOLDER: artifact

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v3
      - name: Compile sketches
        uses: arduino/compile-sketches@v1
        with:
          fqbn: esp32:esp32:esp32
          platforms: |
            - name: esp32:esp32
              source-url: https://raw.githubusercontent.com/espressif/arduino-esp32/gh-pages/package_esp32_index.json
          sketch-paths: |
            - skully.ino
          libraries: |
            - name: Watchy
              version: latest
            - name: GxEPD2
              version: 1.4.3
          cli-compile-flags: |
            - --export-binaries
            - --build-property
            - build.partitions=min_spiffs
            - --build-property
            - upload.maximum_size=1966080
          enable-deltas-report: true
